html,body,ul,li,div,span,h1,h2,h3,h4,h5,h6,img,p{
    padding:0;
    margin:0;
}
html{
    width: auto;
    height: auto;
    position: relative;
}
body{
    width:100%;
    height: auto;
    font-size: .16rem;
    background:#eee;
}
.top_box{
    height: 1.4rem;
    width:3.2rem;
    display: flex;
    justify-content: space-between;
    background:white;
    
}
.top_one{
    width: 1.4rem;
    height: 1.2rem;
    border-right:0.01rem solid #CCC;
    padding-top:0.2rem;
    padding-left:0.2rem;
    position: relative;
}
.top_one p:nth-of-type(1){
    font-size: 0.14rem;
    font-weight: bold;
    color:rgb(255, 153, 0);
}
.top_one p:nth-of-type(2){
    font-size: 0.12rem;
    color:#999;
}
.top_one img{
    width:0.65rem;
    height: 0.57rem;
    position: absolute;
    right:0;
    bottom:0;
}
.top_two{
    width:1.6rem;
    height: 1.4rem;
}
.top__one{
    height: 0.5rem;
width:1.5rem;
padding-top:0.2rem;
padding-left:0.1rem;
position: relative;
border-bottom: 0.01rem solid #999;
}
.top__one img{
    position: absolute;
    right:0.15rem;
    bottom:0.15rem;
    height: 0.35rem;
    width:0.35rem;
}
.top__one p:nth-of-type(1){
    font-size: 0.14rem;
    color:rgb(27, 169, 225);
    font-weight: bold;
}
.top__one p:nth-of-type(2){
    font-size: 0.12rem;
    color:#999;
    /* font-weight: bold; */
}
.top__two p:nth-of-type(1){
    font-size: 0.14rem;
    color:rgb(27, 169, 225);
    font-weight: bold;
}
.top__two p:nth-of-type(2){
    font-size: 0.12rem;
    color:#999;
    /* font-weight: bold; */
}
.top__two{
    height: 0.5rem;
width:1.5rem;
padding-top:0.2rem;
padding-left:0.1rem;
position: relative;
/* border-bottom: 0.01rem solid #999; */
}
.top__two img{
    position: absolute;
    right:0.15rem;
    bottom:0.15rem;
    height: 0.35rem;
    width:0.35rem;
}

.recommed{
    width:3.2rem;
    height: 0.2rem;
    line-height: 0.2rem;
    text-align: center;
    font-size: 0.14rem;
    margin-top: 0.1rem;
    background: white;
}
.recommed span{
    position: relative;
}
.recommed span::before{
    content: "";
    display: block;
    height: 0.02rem;
    width:0.3rem;
    background:rgb(14, 13, 13);
    position: absolute;
    left: -0.45rem;
    top: 0.07rem;
}
.recommed span::after{
    content: "";
    display: block;
    height: 0.02rem;
    width:0.3rem;
    background:rgb(17, 17, 17);
    position: absolute;
    right: -0.45rem;
    top: 0.07rem;
}
.kouwei{
    background:white;
    font-size: 0.12rem;
    text-align: center;
}
.main{
    width:3.2rem;
    height: auto;
    background:white;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.main_one{
    width:1.47rem;
    height: 2.26rem;
    margin:0.07rem  0 0 0.07rem;
}
.main_pic{  
     width:1.47rem;
    height: 1.47rem;
    background:url(../img/hmj.webp);
    background-size:100%;
    position: relative;
}
.main_pic div{
    position: absolute;
    width:1.47rem;
    height: 0.2rem;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.2rem;
    background:black;
    color:white;
    bottom:0;
}



.box_bottom{
    height:0.4rem;
    width:2.8rem;
    display: flex;
    position: sticky;
    bottom:0rem;
    border-top: 0.01rem solid black;
    background:white;
    justify-content: space-between;
    padding:0 0.2rem;
}
.box_bottom a{
    display: block;
    height: 0.4rem;
    width: 0.4rem;
    text-align: center;
}
.huadan{
    font-size: 0.14rem;
    font-weight: bold;
    padding-left:0.1rem;
}
.yueshou{
    font-size: 0.12rem;
    padding-left:0.1rem;

}
.san{
    color:rgb(241, 101, 20);
    font-weight: bold;
    font-size: 0.14rem;
    padding-left:0.1rem;
border-bottom: 0.01rem solid #ccc;
}
.san span:nth-of-type(2){
border:0.01rem solid rgb(243, 94, 8);
font-size: 0.12rem;
margin-left:0.08rem;
padding:0 0.02rem;

}
.jue{
    font-size: 0.12rem;
    letter-spacing: -0.01rem;
    margin:0.02rem 0;
}
.chakan{
    line-height: 0.5rem;
    height: 0.5rem;
    background:white;
    text-align: center;
    font-size: 0.12rem;
    color:#CCC;
}
.jbi{
    font-size: 0.12rem;
    background:white;
    text-align: center;
    
}
.a_pic{
    width:0.95rem;
    height: 1.45rem;
    background-image:url(../img/3333.webp) ;
    background-position: 0 0rem;
    background-size: 70%;
    background-repeat: no-repeat;
    position: relative;
}
.zuhe{
    background:white;
    width:3.2rem;
    height:auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.2rem;
}
.a_pic{
    width:0.95rem;
    height: 1.45rem;
    /* position: absolute;
    top:0; */
    margin-left: 0.1rem;

}
.xianshi{
    width:0.5rem;
    font-size: 0.12rem;
    border:0.01rem solid black;
    background:black;
    color:white;
    
}
.yuan{
    margin-top: 0.6rem;
    font-size:0.12rem;

}
.jiushi{
    font-size:0.12rem;
    margin-top: 0.1rem;
color:rgb(236, 120, 12);
}
.bottom{
    height: 0.45rem;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background: #fff;
    z-index: 1000;
    border-top: 0.01rem solid #eee;
}
.bottom>a{
    width:0.8rem;
    /* height:0.45rem; */
    /* line-height: 0.45rem; */
    text-align: center;
}
.bottom>a>span{
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 0.12rem;
    transform: scale(.8);
    margin-top:-0.05rem;
}
.bottom>a>i{
    display: inline-block;
    /* margin-top: 0.05rem; */
    font-size: 0.2rem !important;
}
.bottom>a>.elm{
    font-size: 0.2rem !important;
}